In [4]:
import pandas as pd


df= pd.read_excel(r'E:/Coding Practice/la-python-practice/data_testing/Dress Sales.xlsx') #To read data from an excel file if i were to use csv file you can simply use pd.read_csv and so on
df

# It can run without r also but just for the safe side we use r for the windows OS
# One might need to install openpyxl in order to read excel file of the latest version
# Make sure to switch between \ and / which works when

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,0,0,0,560,554,544,537,525,519,...,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
496,722565148,0,0,0,875,866,861,854,850,844,...,859,866.0,882,888.0,895.0,898.0,906,913.0,919.0,931
497,532874347,0,0,0,734,728,726,715,694,690,...,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
498,655464934,0,0,0,254,259,261,263,268,270,...,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
499,919930954,0,0,0,538,545,558,563,578,585,...,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [5]:
type(df)

# Like in SQL we have Table in pandas we have dataframe so table and dataframe are almost equivalent to eachother

pandas.core.frame.DataFrame

In [38]:
# If you want to know the column name of any data frame we can simply check it by

df.columns

Index([         'Dress_ID',         '29/8/2013',         '31/8/2013',
       2013-02-09 00:00:00, 2013-04-09 00:00:00, 2013-06-09 00:00:00,
       2013-08-09 00:00:00, 2013-10-09 00:00:00, 2013-12-09 00:00:00,
               '14/9/2013',         '16/9/2013',         '18/9/2013',
               '20/9/2013',         '22/9/2013',         '24/9/2013',
               '26/9/2013',         '28/9/2013',         '30/9/2013',
       2013-02-10 00:00:00, 2013-04-10 00:00:00, 2013-06-10 00:00:00,
       2010-08-10 00:00:00, 2013-10-10 00:00:00, 2013-12-10 00:00:00],
      dtype='object')

In [40]:
# If you want to check values of any column we can do it simply by passing the value

df['Dress_ID']

0      1006032852
1      1212192089
2      1190380701
3       966005983
4       876339541
          ...
495     713391965
496     722565148
497     532874347
498     655464934
499     919930954
Name: Dress_ID, Length: 500, dtype: int64

In [6]:
reading_data_from_different_sheet = pd.read_excel(r'E:/Coding Practice/la-python-practice/data_testing/Dress Sales.xlsx',sheet_name="Sheet2")
reading_data_from_different_sheet

# By default pandas read data from first sheet but I want to make it read data from any other sheet we can do it this way. It has an option of passing sheet_name to read data from the specified sheet name

   Id Student Name  Student Number
0   1          ABC       987654321

In [7]:
# Incase if i don't want the default header names coming with the sheet so how can we handle that
reading_data_from_different_sheet_without_header = pd.read_excel(r'E:/Coding Practice/la-python-practice/data_testing/Dress Sales.xlsx',sheet_name="Sheet2",header=None)
reading_data_from_different_sheet_without_header

# So now you see all the default column names are goe and pandas is giving the default column name like 0,1,2

    0             1               2
0  Id  Student Name  Student Number
1   1           ABC       987654321

In [8]:
# Now my another requirement is that instead of default column name of pandas I want to give my custom column name
reading_data_from_sheet2_sheet_with_custom_name = pd.read_excel(r'E:/Coding Practice/la-python-practice/data_testing/Dress Sales.xlsx',sheet_name="Sheet2",header=None,names=['A','B','C'])
reading_data_from_sheet2_sheet_with_custom_name

    A             B               C
0  Id  Student Name  Student Number
1   1           ABC       987654321

In [9]:
reading_data_from_sheet2_sheet_with_custom_name = pd.read_excel(r'E:/Coding Practice/la-python-practice/data_testing/Dress Sales.xlsx',sheet_name="Sheet2",names=['A','B','C'])
reading_data_from_sheet2_sheet_with_custom_name

   A    B          C
0  1  ABC  987654321

In [10]:
# Now if you will see the difference you will notice that in the code above one cell we have two rows and header=None what it will do is it will bring your existing column name as your row element.

# But in the code right above this cell you'll see that you have only row and no other entity such as your existing column name that's because you have not set your header=None and you are directly passing values to your names parameter which renames your column name to the names you gave.

In [11]:
reading_data_from_sheet2_sheet_with_custom_name_for_one_column_only = pd.read_excel(r'E:/Coding Practice/la-python-practice/data_testing/Dress Sales.xlsx',sheet_name="Sheet2",names=['A'])
reading_data_from_sheet2_sheet_with_custom_name_for_one_column_only

# And one thing more if you think you want to update just one column name and how can you do that and you think of passing only one parameter like I did it will give you error. As we have 3 columns so it needs 3 parameter and you need to update only column name so what can you do is you can pass your other column like that only and replace the column name of which you want to modify

ParserError: Expected 1 fields in line 2, saw 3 (sheet: Sheet2)

In [24]:
df.head() # To call top 5 rows by default but if you pass any parameter it will give you that much amount of records and that value can be greater than or smaller than 5
df.head(10)

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
5,1068332458,4,5,11,13,13,13,16,18,19,...,25,25.0,26,26.0,26.0,26.0,27,27.0,27.0,27
6,1220707172,45,61,131,165,176,209,216,251,262,...,379,400.0,417,424.0,445.0,462.0,474,494.0,503.0,552
7,1219677488,4,13,55,73,76,89,94,117,121,...,160,165.0,169,172.0,196.0,212.0,224,241.0,252.0,263
8,1113094204,5,6,10,12,13,15,16,17,17,...,27,28.0,29,29.0,29.0,29.0,29,29.0,29.0,33
9,985292672,9,11,12,12,12,12,12,13,13,...,14,14.0,14,14.0,14.0,14.0,14,14.0,14.0,14

In [12]:
df.tail() # To call last 5 rows by default but if you pass any parameter it will give you that much amount of records and that value can be greater than or smaller than 5

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
495,713391965,0,0,0,560,554,544,537,525,519,...,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
496,722565148,0,0,0,875,866,861,854,850,844,...,859,866.0,882,888.0,895.0,898.0,906,913.0,919.0,931
497,532874347,0,0,0,734,728,726,715,694,690,...,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
498,655464934,0,0,0,254,259,261,263,268,270,...,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
499,919930954,0,0,0,538,545,558,563,578,585,...,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [14]:
# Reading CSV dataset from files

csv_data=pd.read_csv(r'E:/Coding Practice/la-python-practice/data_testing/haberman.csv')
csv_data

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]

In [18]:
# As we can see that since we don't have any header name in the file so what it has done is it has taken the first row has header. So now we gotta handle and since we know about header function we can easily handle this. Yes header function do works for read_csv also

csv_data_with_default_header=pd.read_csv(r'E:/Coding Practice/la-python-practice/data_testing/haberman.csv',header=None)
csv_data_with_default_header

      0   1  2  3
0    30  64  1  1
1    30  62  3  1
2    30  65  0  1
3    31  59  2  1
4    31  65  4  1
..   ..  .. .. ..
301  75  62  1  1
302  76  67  0  1
303  77  65  3  1
304  78  65  1  2
305  83  58  2  2

[306 rows x 4 columns]

In [19]:
# now naming these headers to something as we can see we have a file haberman.names file in which we can see the names of the columns so we will give name accordingly

csv_data_with_names=pd.read_csv(r'E:/Coding Practice/la-python-practice/data_testing/haberman.csv',header=None,names=['Age',"Patient's Year of Operation",'Number of positive axillary nodes detected','Survival Status'])
csv_data_with_names

# You see how easily we were able to give a file with no header a new name

,Age,Patient's Year of Operation,Number of positive axillary nodes detected,Survival Status
0,30,64,1,1
1,30,62,3,1
2,30,65,0,1
3,31,59,2,1
4,31,65,4,1
...,...,...,...,...
301,75,62,1,1
302,76,67,0,1
303,77,65,3,1
304,78,65,1,2
305,83,58,2,2

In [21]:
csv_data_with_different_separator = pd.read_csv(r'E:/Coding Practice/la-python-practice/data_testing/changed_data.csv',header=None,names=['Age',"Patient's Year of Operation",'Number of positive axillary nodes detected','Survival Status'],sep='@')
csv_data_with_different_separator

# As we can see that our data in the file was separated with a different delimiter @ and we have to read it. In read_csv we get an option where we can choose the separator from which the file is being separated - This proves the first point of our above comment

,Age,Patient's Year of Operation,Number of positive axillary nodes detected,Survival Status
0,30,64,1,1
1,30,62,3,1
2,30,65,0,1
3,31,59,2,1
4,31,65,4,1
...,...,...,...,...
301,75,62,1,1
302,76,67,0,1
303,77,65,3,1
304,78,65,1,2
305,83,58,2,2

In [ ]:
# How can we read data from a link like without downloading it. We can still use it by using read_csv
read_html_from_csv = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BCF.csv')
read_html_from_csv

# But remember if you are reading data from github you need to click raw before you read it. So now you get it why the url also has raw into it

           date  values.I2P  values.P2I  values.JPI
0    1996-04-01   -2.580556   -0.836444        63.3
1    1996-05-01   -2.882258   -1.972581        66.3
2    1996-06-01   -1.742778   -0.478778        59.7
3    1996-07-01   -0.397796   -1.574301        63.3
4    1996-08-01   -0.977151   -1.797312        63.8
..          ...         ...         ...         ...
112  2005-08-01   -2.144935   -1.646989        49.0
113  2005-09-01   -3.543270   -1.769889        49.9
114  2005-10-01   -4.500484   -2.309946        50.6
115  2005-11-01   -4.098556   -1.528611        57.4
116  2005-12-01   -5.797043   -2.872849        52.9

[117 rows x 4 columns]

In [25]:
# Now I want to read data directly from a url which has tabular data into it. We can read it using read_html

read_data_from_html_link = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')
read_data_from_html_link

[        Rk             Player   Age Team  Pos     G    GS      MP     FG  \
 0      1.0       James Harden  25.0  HOU   SG  81.0  81.0  2981.0  647.0
 1      2.0      Stephen Curry  26.0  GSW   PG  80.0  80.0  2613.0  653.0
 2      3.0  Russell Westbrook  26.0  OKC   PG  67.0  67.0  2302.0  627.0
 3      4.0       LeBron James  30.0  CLE   SF  69.0  69.0  2493.0  624.0
 4      5.0     Damian Lillard  24.0  POR   PG  82.0  82.0  2925.0  590.0
 ..     ...                ...   ...  ...  ...   ...   ...     ...    ...
 647  489.0        Malcolm Lee  24.0  PHI   SG   1.0   0.0     2.0    0.0
 648  490.0        Kalin Lucas  25.0  MEM   PG   1.0   0.0     6.0    0.0
 649  491.0       Ronny Turiaf  32.0  MIN    C   2.0   0.0    19.0    0.0
 650  492.0         David Wear  24.0  SAC   PF   2.0   0.0     7.0    0.0
 651    NaN     League Average   NaN  NaN  NaN   NaN   NaN     NaN    NaN

         FGA  ...    DRB    TRB    AST    STL   BLK    TOV     PF     PTS  \
 0    1470.0  ...  384.0  459.0  565.0  154.0  60.0  321.0  208.0  2217.0
 1    1341.0  ...  285.0  341.0  619.0  163.0  16.0  249.0  158.0  1900.0
 2    1471.0  ...  364.0  488.0  574.0  140.0  14.0  293.0  184.0  1886.0
 3    1279.0  ...  365.0  416.0  511.0  109.0  49.0  272.0  135.0  1743.0
 4    1360.0  ...  329.0  378.0  507.0   97.0  21.0  222.0  164.0  1720.0
 ..      ...  ...    ...    ...    ...    ...   ...    ...    ...     ...
 647     1.0  ...    0.0    0.0    0.0    0.0   0.0    0.0    0.0     0.0
 648     1.0  ...    0.0    0.0    0.0    1.0   0.0    0.0    1.0     0.0
 649     0.0  ...    1.0    1.0    2.0    0.0   0.0    0.0    0.0     0.0
 650     2.0  ...    0.0    2.0    1.0    0.0   0.0    0.0    1.0     0.0
 651     NaN  ...    NaN    NaN    NaN    NaN   NaN    NaN    NaN     NaN

      Trp-Dbl                 Awards
 0        4.0          MVP-2,AS,NBA1
 1        0.0          MVP-1,AS,NBA1
 2       11.0          MVP-4,AS,NBA2
 3        2.0  MVP-3,DPOY-13,AS,NBA1
 4        0.0                     AS
 ..       ...                    ...
 647      0.0                    NaN
 648      0.0                    NaN
 649      0.0                    NaN
 650      0.0                    NaN
 651      NaN                    NaN

 [652 rows x 32 columns],
         Rk           Player   Age Team  Pos     G    GS     MP     FG    FGA  \
 0      1.0     LeBron James  30.0  CLE   SF  20.0  20.0  844.0  227.0  544.0
 1      2.0    Stephen Curry  26.0  GSW   PG  21.0  21.0  826.0  200.0  439.0
 2      3.0     James Harden  25.0  HOU   SG  17.0  17.0  636.0  129.0  294.0
 3      4.0    Klay Thompson  24.0  GSW   SG  21.0  21.0  761.0  149.0  334.0
 4      5.0    Blake Griffin  25.0  LAC   PF  14.0  14.0  557.0  140.0  274.0
 ..     ...              ...   ...  ...  ...   ...   ...    ...    ...    ...
 204  205.0       Greg Smith  24.0  DAL   PF   1.0   0.0    1.0    0.0    0.0
 205  206.0       Russ Smith  23.0  MEM   PG   2.0   0.0    3.0    0.0    0.0
 206  207.0  Mirza TeletoviÄ‡  29.0  BRK   PF   3.0   0.0   16.0    0.0    5.0
 207  208.0   Gerald Wallace  32.0  BOS   SF   1.0   0.0    4.0    0.0    1.0
 208    NaN   League Average   NaN  NaN  NaN   NaN   NaN    NaN    NaN    NaN

      ...    DRB    TRB    AST   STL   BLK   TOV    PF    PTS  Trp-Dbl  Awards
 0    ...  189.0  226.0  169.0  33.0  21.0  82.0  58.0  601.0      3.0     NaN
 1    ...   85.0  105.0  134.0  39.0   3.0  82.0  47.0  594.0      0.0     NaN
 2    ...   85.0   97.0  128.0  28.0   7.0  77.0  49.0  462.0      1.0     NaN
 3    ...   72.0   81.0   54.0  16.0  19.0  41.0  64.0  391.0      0.0     NaN
 4    ...  140.0  178.0   86.0  14.0  14.0  45.0  43.0  357.0      3.0     NaN
 ..   ...    ...    ...    ...   ...   ...   ...   ...    ...      ...     ...
 204  ...    0.0    0.0    0.0   0.0   0.0   0.0   0.0    0.0      0.0     NaN
 205  ...    0.0    0.0    2.0   0.0   0.0   0.0   0.0    0.0      0.0     NaN
 206  ...    4.0    4.0    0.0   1.0   0.0   1.0   1.0    0.0      0.0     NaN
 207  ...    1.0    1.0    0.0   0.0   0.0   0.0   0.0    0.0      0.0     NaN
 208  ...    NaN    NaN    NaN   NaN   NaN   NaN   NaN    NaN      NaN     NaN

 [209 rows x 32 columns]]

In [26]:
type(read_data_from_html_link)

# You see when you read data from an html link the type changes to list instead of data frame the reason of it is simple in a single html page we can have many table tag and since data frame is just like a table and a url can have multiple data frame into it so we get it in the form of list

list

In [27]:
read_data_from_html_link[0]

# Now you see we have extracted one data frame from the entire url just like we do in the list with the help of indexing and if you will check it's data type it will be a data frame instead of list because now you have extracted a data frame out of it

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Trp-Dbl,Awards
0,1.0,James Harden,25.0,HOU,SG,81.0,81.0,2981.0,647.0,1470.0,...,384.0,459.0,565.0,154.0,60.0,321.0,208.0,2217.0,4.0,"MVP-2,AS,NBA1"
1,2.0,Stephen Curry,26.0,GSW,PG,80.0,80.0,2613.0,653.0,1341.0,...,285.0,341.0,619.0,163.0,16.0,249.0,158.0,1900.0,0.0,"MVP-1,AS,NBA1"
2,3.0,Russell Westbrook,26.0,OKC,PG,67.0,67.0,2302.0,627.0,1471.0,...,364.0,488.0,574.0,140.0,14.0,293.0,184.0,1886.0,11.0,"MVP-4,AS,NBA2"
3,4.0,LeBron James,30.0,CLE,SF,69.0,69.0,2493.0,624.0,1279.0,...,365.0,416.0,511.0,109.0,49.0,272.0,135.0,1743.0,2.0,"MVP-3,DPOY-13,AS,NBA1"
4,5.0,Damian Lillard,24.0,POR,PG,82.0,82.0,2925.0,590.0,1360.0,...,329.0,378.0,507.0,97.0,21.0,222.0,164.0,1720.0,0.0,AS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,489.0,Malcolm Lee,24.0,PHI,SG,1.0,0.0,2.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
648,490.0,Kalin Lucas,25.0,MEM,PG,1.0,0.0,6.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,NaN
649,491.0,Ronny Turiaf,32.0,MIN,C,2.0,0.0,19.0,0.0,0.0,...,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
650,492.0,David Wear,24.0,SAC,PF,2.0,0.0,7.0,0.0,2.0,...,0.0,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
651,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
type(read_data_from_html_link[0]) # Just to check my data type of the list 0th index item which turns out to be a list

pandas.core.frame.DataFrame

In [29]:
# we can also check the length of my list 
len(read_data_from_html_link)

2

In [30]:
# trying to read json 

reading_from_json = pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')
reading_from_json

# It's type will be a dataframe only

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,author_association,active_lock_reason,draft,pull_request,body,closed_by,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60577,2740800387,PR_kwDOAA0YD86FRXIN,60577,BUG: Fixed type annotations for read_sql_* fun...,...,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Added dict of dict type to parse_dates union f...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60576,2740661747,I_kwDOAA0YD86jWy3z,60576,DOC: fix docstring validation errors for panda...,...,CONTRIBUTOR,NaN,NaN,NaN,"> follow up on issues #59698, #59458 and #580...",NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60574,2740558326,PR_kwDOAA0YD86FQna4,60574,BUG: fix ValueError when printing a Series wit...,...,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #60568 (Replace xxxx with the Git...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60573,2740556706,I_kwDOAA0YD86jWZOi,60573,BUG: NameError: name 'pa' is not defined despi...,...,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60572,2740362113,PR_kwDOAA0YD86FP7T3,60572,"DOC: fix PR07,SA01,ES01 for pandas.plotting.sc...",...,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,fixes\r\n\r\n```\r\npandas.plotting.scatter_ma...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60571,2740351653,PR_kwDOAA0YD86FP5Ka,60571,"DOC: fix PR07,RT03,SA01,ES01 for pandas.io.jso...",...,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,fixes\r\n\r\n```\r\npandas.io.json.build_table...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60570,2740344705,PR_kwDOAA0YD86FP3sf,60570,"DOC: fix PR01,SA01 for pandas.errors.Undefined...",...,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,fixes\r\n\r\n```\r\npandas.errors.UndefinedVar...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60569,2740179538,PR_kwDOAA0YD86FPWks,60569,BUG: value_counts() check Index with PyArrow c...,...,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #60563\r\n- [x] [Tests added and ...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60568,2740137970,I_kwDOAA0YD86jUy_y,60568,BUG: ValueError when printing a DataFrame's c...,...,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60567,2739977720,I_kwDOAA0YD86jUL34,60567,BUG: groupby with dropna=False and pa.dictiona...,...,MEMBER,NaN,NaN,NaN,"```python\r\ndf = pd.DataFrame({'A': ['a1', pd...",NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60566,2739972362,PR_kwDOAA0YD86FOrY-,60566,DEPR: Enforce deprecation of include_groups in...,...,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60563,2739419923,I_kwDOAA0YD86jSDsT,60563,BUG: value_counts() returns error/wrong result...,...,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60562,2739258925,PR_kwDOAA0YD86FMT0a,60562,Debug free threading build,...,MEMBER,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,e.g https://github.com/pandas-dev/pandas/actio...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60561,2739124557,I_kwDOAA0YD86jQ7lN,60561,BUG: set_index with pyarrow timestamp type doe...,...,MEMBER,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60560,2738740498,I_kwDOAA0YD86jPd0S,60560,BUG: inconsistent return types from __getitem_...,...,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60557,2737579460,PR_kwDOAA0YD86FGzY8,60557,ENH: removed median percentile to be always in...,...,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #60550 \r\n- [x] ~[Tests added an...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60554,2736919893,I_kwDOAA0YD86jIhVV,60554,BUG: alpine 3.21 install issue,...,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60551,2735798367,I_kwDOAA0YD86jEPhf,60551,"BUG: `transform(""cumcount"")` returns a Series ...",...,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60550,2735337508,I_kwDOAA0YD86jCfAk,60550,ENH: Passing a single value to `.describe(perc...,...,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60543,2733773624,PR_kwDOAA0YD86E5x8o,60543,DOC: fix deprecation message for `is_period_dt...,...,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [X] closes #60542\r\n\r\n\r\n\r\n,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60542,2733772679,I_kwDOAA0YD86i8g-H,60542,DOC: Incorrect deprecation example for `is_per...,...,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60540,2733239726,PR_kwDOAA0YD86E37n_,60540,Use PyWeakref_GetRef and critical section in B...,...,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [X] Related to #59057\r\n- [X] All [code che...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60539,2732996412,PR_kwDOAA0YD86E3F_R,60539,Fix KeyError by adding check for _convert_dates,...,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Closes #60536\r\n\r\nThis PR adds a check to p...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60538,2731940002,PR_kwDOAA0YD86EzcZk,60538,BUG: Fix DataFrame binary arithmatic operation...,...,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,â€¦MultiIndex columns\r\n\r\n- [ ] closes #60498...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60537,2731866303,PR_kwDOAA0YD86EzMML,60537,BUG: Building pandas via pip fails in AIX due ...,...,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Closes #60495\r\n\r\nLog after this change for...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60536,2731375558,I_kwDOAA0YD86izXvG,60536,Missing check if the renamed column is listed ...,...,NONE,NaN,NaN,NaN,When checking and fixing column names for writ...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60535,2730875342,PR_kwDOAA0YD86EvzHS,60535,DOC (string dtype): updated 'Working with text...,...,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,"Closes #60348 \r\n\r\nThis PR updates the ""Wor...",NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60533,2728840477,PR_kwDOAA0YD86Eou6x,60533,Docï¼šUpdate hyperlinks of numpy.ndarray.size in...,...,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,"- [ ] closes #60368\r\nUpdate ""ndarray.size"" t...",NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60532,2728711613,PR_kwDOAA0YD86EoSXs,60532,ENH: Added isascii() string method fixing issu...,...,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #59091\r\n- [x] [Tests added and ...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60531,2728524780,PR_kwDOAA0YD86EnomE,60531,"BUG: df.query(""1 == 0.1"") failed with Undefine...",...,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #60494 \r\n- [x] [Tests added and...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN

In [31]:
type(reading_from_json)

pandas.core.frame.DataFrame

In [37]:
# Since json is nothing but a key value pair entity which is also dictionary in python we can perform operations of python into a json object

reading_from_json.keys()

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'draft', 'pull_request', 'body', 'closed_by',
       'reactions', 'timeline_url', 'performed_via_github_app',
       'state_reason'],
      dtype='object')

In [41]:
# Now we will learn how we can convert any data like xlsx to json and so on

df.to_json('E:\Coding Practice\la-python-practice\data_testing\converted_json_file.json')

# We can see a new file has been created converted_json_file.json and the data of Dress Sales has ben converted into json

<>:3: SyntaxWarning: invalid escape sequence '\C'
<>:3: SyntaxWarning: invalid escape sequence '\C'
C:\Users\singh\AppData\Local\Temp\ipykernel_5336\2313807143.py:3: SyntaxWarning: invalid escape sequence '\C'
  df.to_json('E:\Coding Practice\la-python-practice\data_testing\converted_json_file.json')